.btn-primary {
	background-color: #4a4a4a;
	border-color: #4a4a4a;
	margin-top: 25px;
	border-radius: 10px;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
	color: #fff;
	background-color: #00657b !important;
	border-color: #00657b !important;
}

.btn,.btn-primary{
	padding: 10px 25px;
}