#post-content-article .container .row {
    div:first-child{
        display: flex;
        flex-direction: column;
        hr {
            width: 100%;
        }

        p {
            margin-bottom: 0;
        }
    }
}
#post-content-article .container .post-feature-header-image{
    width: 100%;
    height: auto;
    margin-bottom: 24px;
    border-radius: 15px;
    box-shadow: 0 3px 15px 2px rgb(80 77 77);
}